1 <!doctype html>
2 <html lang="ru">
3 
4 <head>
5     <!-- Required meta tags -->
6     <meta charset="utf-8">
7     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
8 
9     <!-- Bootstrap CSS -->
10     <link rel="stylesheet" href="/css/bootstrap.min.css">
11 
12     <!-- ChartJS -->
13     <link rel="stylesheet" href="/css/Chart.min.css">
14 
15     <!-- FontAwesome -->
16     <link rel="stylesheet" href="/css/fontawesome.all.min.css">
17 
18     <title>Документация по сайту</title>
19 </head>
20 
21 <body>
22 
23 
24 
25     <nav class="navbar navbar-expand-lg navbar-light bg-light">
26         <div class="container">
27             <a class="navbar-brand" href="index.html">
28                 <img src="/img/logo.png" alt="">
29             </a>
30             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
31                     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
32                 <span class="navbar-toggler-icon"></span>
33             </button>
34 
35             <div class="collapse navbar-collapse" id="navbarSupportedContent">
36                 <ul class="navbar-nav mr-auto">
37                     <li class="nav-item ">
38                         <a class="nav-link" href="news.html">Новости</a>
39                     </li>
40                     <li class="nav-item active">
41                         <a class="nav-link" href="courses_list.html">Курсы</a>
42                     </li>
43                     <li class="nav-item dropdown">
44                         <a class="nav-link dropdown-toggle" href="#" id="ddProfile" role="button" data-toggle="dropdown"
45                            aria-haspopup="true" aria-expanded="false">
46                             Профиль
47                         </a>
48                         <div class="dropdown-menu" aria-labelledby="ddProfile">
49                             <a class="dropdown-item" href="#">Редактировать профиль</a>
50                             <a class="dropdown-item" href="#">Мои курсы</a>
51                             <div class="dropdown-divider"></div>
52                             <a class="dropdown-item" href="#">Модерация</a>
53                             <a class="dropdown-item" href="#">Административный раздел</a>
54                             <div class="dropdown-divider"></div>
55                             <a class="dropdown-item" href="#">Выход</a>
56                         </div>
57                     </li>
58                     <li class="nav-item ">
59                         <a class="nav-link" href="contacts.html">Контакты</a>
60                     </li>
61                 </ul>
62                 <span><a href="#">🇷🇺</a> <i class="fas fa-grip-lines-vertical"></i> <a href="#">🇬🇧</a></span>
63             </div>
64         </div>
65     </nav>
66 
67 
68 
69 
70 
71     <div class="container-md">
72 
73         
74     <div class="row justify-content-center mt-3">
75         
76 
77                 <div class="card col-sm-12 col-md-6 col-lg-4 border-0">
78                 <a href="#">
79                     <img src="/img/course001.jpg" class="card-img-top" alt="...">
80                     <div class="card-body">
81                         <h5 class="card-title text-center">Web Python</h5>
82                     </div>
83                 </a>
84                 </div>
85 
86         
87 
88                 <div class="card col-sm-12 col-md-6 col-lg-4 border-0">
89                 <a href="#">
90                     <img src="/img/course002.jpg" class="card-img-top" alt="...">
91                     <div class="card-body">
92                         <h5 class="card-title text-center">Web Golang</h5>
93                     </div>
94                 </a>
95                 </div>
96 
97         
98 
99                 <div class="card col-sm-12 col-md-6 col-lg-4 border-0">
100                 <a href="#">
101                     <img src="/img/course003.jpg" class="card-img-top" alt="...">
102                     <div class="card-body">
103                         <h5 class="card-title text-center">Web JavaScript</h5>
104                     </div>
105                 </a>
106                 </div>
107 
108         
109 
110                 <div class="card col-sm-12 col-md-6 col-lg-4 border-0">
111                 <a href="#">
112                     <img src="/img/course004.jpg" class="card-img-top" alt="...">
113                     <div class="card-body">
114                         <h5 class="card-title text-center">Web Java</h5>
115                     </div>
116                 </a>
117                 </div>
118 
119         
120 
121                 <div class="card col-sm-12 col-md-6 col-lg-4 border-0">
122                 <a href="#">
123                     <img src="/img/course005.jpg" class="card-img-top" alt="...">
124                     <div class="card-body">
125                         <h5 class="card-title text-center">Web PHP</h5>
126                     </div>
127                 </a>
128                 </div>
129 
130         
131 
132                 <div class="card col-sm-12 col-md-6 col-lg-4 border-0">
133                 <a href="#">
134                     <img src="/img/course006.jpg" class="card-img-top" alt="...">
135                     <div class="card-body">
136                         <h5 class="card-title text-center">Python AI</h5>
137                     </div>
138                 </a>
139                 </div>
140 
141         
142 
143                 <div class="card col-sm-12 col-md-6 col-lg-4 border-0">
144                 <a href="#">
145                     <img src="/img/course007.jpg" class="card-img-top" alt="...">
146                     <div class="card-body">
147                         <h5 class="card-title text-center">DevOps</h5>
148                     </div>
149                 </a>
150                 </div>
151 
152         
153     </div>
154     <div class="row justify-content-center align-items-center mt-3 mb-n3">
155   <nav aria-label="Page navigation example">
156     <ul class="pagination">
157       <li class="page-item"><a class="page-link" href="#">Previous</a></li>
158       <li class="page-item"><a class="page-link" href="#">1</a></li>
159       <li class="page-item"><a class="page-link" href="#">2</a></li>
160       <li class="page-item"><a class="page-link" href="#">3</a></li>
161       <li class="page-item"><a class="page-link" href="#">Next</a></li>
162     </ul>
163   </nav>
164 </div>
165 
166 
167     </div>
168 
169 
170 
171 
172 
173     <!-- Footer -->
174 
175     <div class="container-lg mt-auto">
176         <hr>
177         <div class="row justify-content-center">
178             <div class="col-sm-6 col-md-3 text-center">
179                 <p>
180                     <strong>Braniac</strong>
181                 </p>
182                 <p>
183                 <ul class="list-unstyled">
184                     <li><a href="index.html">Домашняя</a></li>
185                     <li><a href="news.html">Новости</a></li>
186                     <li><a href="login.html">Войти</a></li>
187                 </ul>
188                 </p>
189             </div>
190             <div class="col-sm-6 col-md-3 text-center">
191                 <p>
192                     <strong>Полезное</strong>
193                 </p>
194                 <p>
195                 <ul class="list-unstyled">
196                     <li><a href="#">Положения &amp; Условия</a></li>
197                     <li><a href="#">Конфиденциальность &amp; Cookies</a></li>
198                     <li><a href="#">Документация по API</a></li>
199                     <li><a href="doc_site.html">Документация по сайту</a></li>
200                 </ul>
201                 </p>
202             </div>
203             <div class="col-sm-6 col-md-3 text-center">
204                 <p>
205                     <strong>Мы в социальных сетях</strong>
206                 </p>
207                 <p>
208                 <div class="row justify-content-around">
209                     <div><a href="#"><i class="fab fa-vk fa-2x"></i></a></div>
210                     <div><a href="#"><i class="fab fa-facebook-f fa-2x"></i></a></div>
211                     <div><a href="#"><i class="fab fa-instagram fa-2x"></i></a></div>
212                     <div><a href="#"><i class="fab fa-pinterest-p fa-2x"></i></a></div>
213                 </div>
214                 </p>
215                 <p>
216                     <strong>Наше приложение</strong>
217                 </p>
218                 <p>
219                 <div class="row justify-content-around">
220                     <div><a href="#"><i class="fab fa-app-store fa-2x"></i></a></div>
221                     <div><a href="#"><i class="fab fa-google-play fa-2x"></i></a></div>
222                     <div><a href="#"><i class="fab fa-windows fa-2x"></i></a></div>
223                 </div>
224                 </p>
225             </div>
226         </div>
227         <div class="row justify-content-center">
228             <div>
229                 <p><small>&copy; GeekBrains 2021</small></p>
230             </div>
231         </div>
232     </div>
233 
234     <!-- /Footer -->
235 
236 
237 
238 
239     <!-- JavaScript section -->
240     <!-- Bootstrap -->
241     <script src="/js/jquery-3.6.0.min.js"></script>
242     <script src="/js/popper.min.js"></script>
243     <script src="/js/bootstrap.min.js"></script>
244 
245     <!-- ChartJs -->
246     <script src="/js/Chart.min.js"></script>
247 
248     <!-- FontAwesome -->
249     <script src="/js/fontawesome.all.min.js"></script>
250 
251 
252 
253 </body>
254 
255 </html>